In [1]:
!pip install ipynb

Collecting ipynb
  Downloading https://files.pythonhosted.org/packages/31/42/4c0bbb66390e3a68e04ebf134c8d074a00c18b5882293f8ace5f7497fbf0/ipynb-0.5.1-py3-none-any.whl
Installing collected packages: ipynb
Successfully installed ipynb-0.5.1

In [11]:
from ipynb.fs.full.Preprocessing import *

In [12]:
data.head()

,tweet_id,tweet,sentiment,tweet_len_noisy,URL
0,1701,#sxswnui #sxsw #apple defining language of tou...,1,89,No URL
1,1851,learning ab google doodles! all doodles should...,1,143,No URL
2,2689,one of the most in-your-face ex. of stealing t...,2,132,No URL
3,4525,this iphone #sxsw app would b pretty awesome i...,0,125,No URL
4,3604,line outside the apple store in austin waiting...,1,77,No URL

In [13]:
raw_data = pd.read_csv('data/train.csv')
raw_data.head()

   tweet_id                                              tweet  sentiment
0      1701  #sxswnui #sxsw #apple defining language of tou...          1
1      1851  Learning ab Google doodles! All doodles should...          1
2      2689  one of the most in-your-face ex. of stealing t...          2
3      4525  This iPhone #SXSW app would b pretty awesome i...          0
4      3604  Line outside the Apple store in Austin waiting...          1

In [14]:
raw_data.dropna(inplace=True)

In [16]:
processed_data = preprocess_text(raw_data, 'tweet')

NameError: name 'nltk' is not defined