In [1]:
from ipynb.fs.full.Preprocessing import *

<just a rumor...> rt @mention google to launch major new social network called circles, possibly today {link} #sxsw
Old: gr8
New: great meeting u irl after the book signing today! really enjoyed your ipad prez & mahalo for the autograph! #sxsw #hisxsw
Old: u
New: great meeting you irl after the book signing today! really enjoyed yoyour ipad prez & mahalo for the ayoutograph! #sxsw #hisxsw
Old: irl
New: great meeting you in real life after the book signing today! really enjoyed yoyour ipad prez & mahalo for the ayoutograph! #sxsw #hisxsw
New text: great meeting you in real life after the book signing today! really enjoyed yoyour ipad prez & mahalo for the ayoutograph! #sxsw #hisxsw

In [2]:
data.head()

,tweet_id,tweet,sentiment,tweet_len_noisy,URL
0,1701,#sxswnui #sxsw #apple defining language of tou...,1,89,No URL
1,1851,learning about google doodles! all doodles sho...,1,143,No URL
2,2689,one of the most in-your-face ex. of stealing t...,2,132,No URL
3,4525,this iphone #sxsw app would b pretty awesome i...,0,125,No URL
4,3604,line outside the apple store in austin waiting...,1,77,No URL

In [57]:
raw_data = pd.read_csv('data/train.csv')
raw_data.head()

   tweet_id                                              tweet  sentiment
0      1701  #sxswnui #sxsw #apple defining language of tou...          1
1      1851  Learning ab Google doodles! All doodles should...          1
2      2689  one of the most in-your-face ex. of stealing t...          2
3      4525  This iPhone #SXSW app would b pretty awesome i...          0
4      3604  Line outside the Apple store in Austin waiting...          1

In [58]:
raw_data.dropna(inplace=True)

In [59]:
processed_data = preprocess_text(raw_data, 'tweet')

In [60]:
processed_data.head(10)

   tweet_id                                              tweet  sentiment
0      1701  sxswnui sxsw appl defin languag touch differ d...          1
1      1851  learn googl doodl doodl light funni innov exce...          1
2      2689  one in-your-fac ex steal show yr rt sxsw appl ...          2
3      4525  iphon sxsw app would b pretti awesom crash eve...          0
4      3604  line outsid appl store austin wait new ipad sx...          1
5       966  technew one lone dude await ipad 2 appleûª sx...          1
6      1395  sxsw tip princ npr video toy shop zuckerberg l...          1
7      8182  nu user rt new ubersoci iphon app store includ...          1
8      8835                free sxsw sampler itun link freemus          2
9       883  think might go weekend without see ipad case t...          2

In [61]:
def remove_specialchars(tweet):
    tweet=tweet.encode('utf-8')
    tweet=re.sub(rb'[^\x00-\x7f]',rb' ',tweet)
    tweet.decode('utf-8')

In [62]:
processed_data['tweet'] = processed_data['tweet'].apply(lambda x: ''.join([i if ord(i) < 128 else ' ' for i in x]))

In [63]:
processed_data.head(20)

    tweet_id                                              tweet  sentiment
0       1701  sxswnui sxsw appl defin languag touch differ d...          1
1       1851  learn googl doodl doodl light funni innov exce...          1
2       2689  one in-your-fac ex steal show yr rt sxsw appl ...          2
3       4525  iphon sxsw app would b pretti awesom crash eve...          0
4       3604  line outsid appl store austin wait new ipad sx...          1
5        966  technew one lone dude await ipad 2 apple    sx...          1
6       1395  sxsw tip princ npr video toy shop zuckerberg l...          1
7       8182  nu user rt new ubersoci iphon app store includ...          1
8       8835                free sxsw sampler itun link freemus          2
9        883  think might go weekend without see ipad case t...          2
10      6398  rt offici sxsw app    sxsw go    bit.ly/hmiiga...          3
11      2369                       offici 'm buy ipad sxsw elev          2
12      3944      're give away ipad 2 x box book sxsw techenvi          2
13      6909  rt 're offici sxsw come grill mention us w/ za...          1
14      7917  compani watch sxsw trade show floor link app f...          1
15      5849  rt googl marissa mayer futur locat augment rea...          1
16      1955  dl calyp app get calyp casa sxsw free mobil ap...          1
17      1472  well yeah music iphon nerd rt god cute girl ev...          2
18      4730  appl open pop store sxsw link via appl ipad2 t...          1
19      2166                     atleast sxsw 'm ipad doublelos          1