In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/processed_data.csv')
data.head()

   tweet_id                                              tweet  sentiment
0      1701  sxswnui sxsw apple defining language touch dif...          1
1      1851  learning google doodles doodles light funny in...          1
2      2689  one -your-face stealing show years sxsw apple ...          2
3      4525  iphone sxsw app would pretty awesome crash eve...          0
4      3604  line outside apple store austin waiting new ip...          1

In [4]:
data.dropna(inplace=True)