In [122]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import re
from scipy.sparse import coo_matrix, hstack
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [124]:
data = pd.read_csv('data/processed_data.csv')
data.head()

   tweet_id                                              tweet  sentiment
0      1701  sxswnui sxsw apple defining language touch dif...          1
1      1851  learning google doodles doodles light funny in...          1
2      2689  one -your-face stealing show years sxsw apple ...          2
3      4525  iphone sxsw app would pretty awesome crash eve...          0
4      3604  line outside apple store austin waiting new ip...          1

In [125]:
data.dropna(inplace=True)

In [131]:
# count_vectorizer = CountVectorizer()
# X = count_vectorizer.fit_transform(data['tweet'])

In [132]:
tfidf_vectorizer = TfidfVectorizer()
X = tfidf_vectorizer.fit_transform(data['tweet'])

In [133]:
X.shape

(7272, 8332)

In [93]:
lr_model = LogisticRegression()
lr_model.fit(X, data['sentiment'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [134]:
test_data = pd.read_csv('data/test_processed.csv')
test_data.head()

   tweet_id                                              tweet
0      7506  audience prototyping tools use sketchbooks/sha...
1      7992  sxsw send best photos videos .. link citizen_j...
2       247         pic winning ipad unsix sxsw link cont link
3      7688  google marissa mayer mobile phone cursor physi...
4      3294               sxsw google maps even cooler thought

In [135]:
X_test = tfidf_vectorizer.transform(test_data['tweet'])

In [136]:
X_test.shape

(1819, 8332)

In [96]:
lr_pred = lr_model.predict(X_test)

In [97]:
lr_pred

array([1, 1, 1, ..., 2, 2, 1], dtype=int64)

In [98]:
to_submit = pd.DataFrame({'tweet_id': test_data['tweet_id'], 'sentiment': lr_pred})
to_submit.to_csv('solutions/lr_cv_withstop.csv', index=False)
to_submit.head()

   tweet_id  sentiment
0      7506          1
1      7992          1
2       247          1
3      7688          2
4      3294          2

In [117]:
X = X.toarray()
X_test = X_test.toarray()

In [118]:
gnb = GaussianNB()
gnb_pred = gnb.fit(X, data['sentiment']).predict(X_test)
gnb_pred

array([1, 1, 2, ..., 0, 1, 1], dtype=int64)

In [119]:
to_submit = pd.DataFrame({'tweet_id': test_data['tweet_id'], 'sentiment': gnb_pred})
to_submit.to_csv('solutions/gnb_pred.csv', index=False)
to_submit.head()

   tweet_id  sentiment
0      7506          1
1      7992          1
2       247          2
3      7688          2
4      3294          2

In [121]:
dtree = tree.DecisionTreeClassifier()
dtree.fit(X, data['sentiment'])
dt_pred = dtree.predict(X_test)
to_submit = pd.DataFrame({'tweet_id': test_data['tweet_id'], 'sentiment': dt_pred})
to_submit.to_csv('solutions/dtree_pred.csv', index=False)
to_submit.head()

   tweet_id  sentiment
0      7506          1
1      7992          1
2       247          2
3      7688          2
4      3294          2

In [137]:
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X, data['sentiment'])
rf_pred = rf_model.predict(X_test)
to_submit = pd.DataFrame({'tweet_id': test_data['tweet_id'], 'sentiment': rf_pred})
to_submit.to_csv('solutions/rf_pred.csv', index=False)
to_submit.head()

   tweet_id  sentiment
0      7506          1
1      7992          1
2       247          2
3      7688          2
4      3294          1